<<<<<<< HEAD
.Text {
    background: white;
    height: 60px;
    width: 400px;
    padding: 20px;
    border: darkgrey;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: auto;
=======
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

#speech_bubble {
    position: absolute;
    left: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 25%;
    margin-top: 50px;
    background-color: white;
    border-radius: 40px;
    border: 10px solid #CBF8FF;
    text-align: center;

    font-family: 'Alef', sans-serif;
    font-size: 2.1vw;
    padding-left: 2%;
    padding-right: 2%;
    display: table;
}

.text_title {
    font-size: 3.1vw;
}

.Typewriter {
    display: table-cell;
    vertical-align: middle;
>>>>>>> 8edd42b017ddd09ef929ef2f0a8740a23104903c
}
